html, body, div, header, nav, ul, li, a, img, p, footer, h1, h2, h3, h4,h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
footer {
  margin-top: 20px;
  background-color: #bda68a;
  border-top: 1px solid;
  width: 100%;
} 
.footer1 {
display: flex;
flex-direction: row;
width: 960px;
margin: auto;
}
.footer1 p {
  text-align: left;
  font-size: 0.8em;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}
.footer1 div {
  margin: 0 10px 0 200px;
}
.footer1 div img {
  width: 50px;
}
.footer2 {
  text-align: center;
  width: 960px;
  margin: auto;
  border-top: 2px solid;
  font-size: 0.6em;
}

body {
  background-color: rgba(255, 221, 148, 0.726);
}

#body {
  width: 960px;
  margin: auto;
  height: 100%;
}

.button {
  position: absolute;
  top:250px;
  width: 960px;
}
.button img {
  width: 15px;
  cursor: pointer;
}
.left_button {
  position: relative;
  float: left;
  margin: 10px;
}
.right_button {
  position: relative;
  float: right;
  margin: 10px;
}
.info {
  width: 3840px;
  height: 360px;
  position: relative;
}
.info img {
  width: 960px;
  height: 360px;
  float: left;
}
.info_area {
  width: 960px;
  height: 360px;
  overflow: hidden;
  border-radius: 10px;
  margin:  20px 0;
}


.icon_menu {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.icon a img {
  width: 25px;
  opacity: 0.8;
  border-radius: 5px;
}
.icon:last-child a img {
  border-radius: 15px;
}
.icon a img:hover {
  box-shadow: 5px 8px 10px rgba(255, 247, 247, 0.981);
  
}

header {
  width: 100%;
  padding: 30px 0 0 0;
  background-color: rgb(216, 192, 152);
}

nav {
  text-align: center;
  padding: 10px auto;
}
#menu {
  display: flex;
  width: 960px;
  margin: auto;
}
#menu li {
  width: 200px;
  height: 50px;
  font-weight: bold;
}
#menu  li:hover > a {
  color: #fff;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
}
#menu li:hover .hidemenu {
  display: block;
}

.hidemenu {
  display: none;
  position: relative;
  top: 20px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  z-index: 10;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(to bottom, rgb(216, 192, 152) 0% ,rgb(245, 234, 203) 50% );
}

